$primary: #735CDD;    // Primary color
$secondary: #161925;  // Secondary color
$success: #07B2BB;   // Warning color
$info: #E85360;      // Info color
$warning: #F2F3AE;   // Success color
$white: #F2F2F2;
$gray: #A9A9A9;

// Optional: Customizing additional Bootstrap variables
$body-bg: $white;


